@font-face {
    font-family: changa;
    src: url(../fonts/Changa-ExtraBold.ttf)
}

@font-face {
    font-family: mont;
    src: url(../fonts/Montserrat-Regular.ttf)
}

@font-face {
    font-family: mont-thin;
    src: url(../fonts/Montserrat-Thin.ttf)
}

@font-face {
    font-family: mont-med;
    src: url(../fonts/Montserrat-Medium.ttf)
}

/* Base  */

* {
    box-sizing: border-box;
}

html {
    font-family: mont, Roboto, Helvetica, sans-serif;
}

body {
    margin: 0;
}

img {
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

/* Layout */

.grid {
    display: grid;
}

/* Navbar */

.main-nav {
    background-color: #ff7f00;
}

.nav-container {
    margin-inline-end: 50px;
    margin-inline-start: 50px;
}

.main-logo {
    font-family: changa;
    font-size: 1.375rem;
    color: white;
}

.main-menu {
    min-width: 160px
}

.menu-item {
    font-size: 1.18rem;
    min-height: 65px;
    min-width: 75px;
    color: white;
}

.menu-item.active {
    box-shadow: inset 0 -4px 0 #040a2c;
    ;
    color: #040a2c;
    cursor: default;
    font-family: mont-med;
}

.separator {
    width: 1px;
    height: 32px;
    background-color: #8a8a8a;
}

/* Main Content */

.main-content.grid {
    grid-template-rows: 5.5% 50% 30%;
    min-height: 1870px;
}

/* Searchbar  */

.main-search {
    color: #7a7a7a;
}

/* Gallery */

.main-gallery {
    background-color: #e3e3e3
}

.gallery-container.grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-container>* {
    height: 280px;
    width: 350px;
}

/* Footer */

.rights {
    color: white;
    font-family: mont-thin;
}

.footer {
    background-color: #ff7f00;
    min-height: 11%;
    font-size: 1.18rem;
}

/* Helpers */

.hidden {
    display: none;
}

/* Flex helpers*/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between
}

.align-center {
    align-items: center;
}

.totally-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* List helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}